@font-face {
  font-family: 'sumoeditor';
  src:  url('fonts/sumoeditor.eot?fcu26t');
  src:  url('fonts/sumoeditor.eot?fcu26t#iefix') format('embedded-opentype'),
    url('fonts/sumoeditor.ttf?fcu26t') format('truetype'),
    url('fonts/sumoeditor.woff?fcu26t') format('woff'),
    url('fonts/sumoeditor.svg?fcu26t#sumoeditor') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sumo-"], [class*=" sumo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sumoeditor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sumo-strike:before {
  content: "\61";
}
.sumo-quote:before {
  content: "\62";
}
.sumo-code:before {
  content: "\63";
}
.sumo-align-center:before {
  content: "\64";
}
.sumo-align-justify:before {
  content: "\65";
}
.sumo-align-left:before {
  content: "\66";
}
.sumo-align-right:before {
  content: "\67";
}
.sumo-bold:before {
  content: "\68";
}
.sumo-clean:before {
  content: "\69";
}
.sumo-background:before {
  content: "\6a";
}
.sumo-color-text:before {
  content: "\6b";
}
.sumo-indent:before {
  content: "\6c";
}
.sumo-unindent:before {
  content: "\6d";
}
.sumo-italic:before {
  content: "\6e";
}
.sumo-line-style:before {
  content: "\6f";
}
.sumo-ul:before {
  content: "\70";
}
.sumo-ol:before {
  content: "\71";
}
.sumo-sub:before {
  content: "\72";
}
.sumo-sup:before {
  content: "\73";
}
.sumo-underline:before {
  content: "\74";
}
.sumo-fullscreen:before {
  content: "\75";
}
.sumo-equation:before {
  content: "\76";
}
.sumo-image:before {
  content: "\77";
}
.sumo-link:before {
  content: "\78";
}
.sumo-down-arrow:before {
  content: "\79";
}
.sumo-omega:before {
  content: "\7a";
}
.sumo-redo:before {
  content: "\41";
}
.sumo-undo:before {
  content: "\42";
}
.sumo-video:before {
  content: "\43";
}

/* ====== SUMOEDITOR STYLES ====== */
.sumoeditor{
}
.sumoeditor *{
    margin: 0;
    padding: 0;
    outline: 0;
}
.sumoeditor .toolbar{
    border: 1px solid #ccc;
    padding: 8px;
}
.sumoeditor .toolbar .grp{}
.sumoeditor .toolbar button{
    background: transparent;
    border: none;
    padding: 0px 4px;
    font-size: 20px;
    vertical-align: middle;
    color: #444;
}

.sumoeditor .editor{
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px 20px;
    min-height: 66px;
    height: 100%;
}

.sumoeditor .editor.blank::before{
    color: rgba(0,0,0,.6);
    content: attr(placeholder);
    font-style: italic;
    pointer-events: none;
    position: absolute;
}

/* modals */
.sumo-modal{
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    border-radius: 3px;
}

/* Content styling */
.editor p {
    margin-bottom: 10px;
}
.editor blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 15px;
}
.editor ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 40px;
}
.editor ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px;
}